#dr-subs-details-page-wrapper {
  fieldset {
      border: 1px solid silver;
      padding: 10px;
      margin: 15px;

      legend {
          padding: 1px;
          font-weight: bold;
          border-bottom: 1px solid #e5e5e5;
          margin-left: 0;
          font-size: 1.5rem;
      }
  }

  .dr-btn {
      width: auto;
  }

  #account-info {
      &__billing {
          margin-top: 1rem;
      }
  }

  .collapsible {
      background-color: #777;
      color: white;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 15px;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;

      &.active, &:hover {
          background-color: #555;
      }

      &:after {
          content: '\002B';
          font-weight: bold;
          color: white;
          float: right;
          margin-left: 5px;
      }

      &.active:after {
          content: "\2212";
      }
  }

  .content {
      padding: 0 18px;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
      background-color: #f1f1f1;
  }

  .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;

      input { 
          opacity: 0;
          width: 0;
          height: 0;
      }
  }    
  
  .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;

      &:before {
          position: absolute;
          content: "";
          height: 26px;
          width: 26px;
          left: 4px;
          bottom: 4px;
          background-color: white;
          -webkit-transition: .4s;
          transition: .4s;
      }

      &.round {
          border-radius: 34px;

          &:before {
              border-radius: 50%;
          }
      }
  }
  
  
  input {
      &:checked + .slider {
          background-color: #008ec2;

          &:before {
              -webkit-transform: translateX(26px);
              -ms-transform: translateX(26px);
              transform: translateX(26px);
          }
      }

      &:focus + .slider {
          box-shadow: 0 0 1px #008ec2;
      }

  }

  label {
      margin-right: 10px;
      vertical-align: middle;
  }

  &__info {
      border: 1px solid silver;
      padding: 15px;
  }

  &__id {
      font-weight: bold;
  }
}
