.dr-candyRackProduct {
        &__img {
            height: 50px;
            margin: 10px 20px 10px 22px;
            background-size: cover;
        }
}
.dr-buy-Add {
    margin-bottom: 10px;
    max-width: 60px;
}
.dr-buy-Upgrade {
  margin-bottom: 10px;
}
